<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bài 2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="angularJS/angular.min.js"></script>
    <link rel="stylesheet" href="css/all.min.css" />
    <style>
        input[type="number"] {
            -moz-appearance: textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="myCtrl">
        <div class="card mt-5">
            <div class="card-header bg-primary text-light font-weight-bold">
                <i class="fas fa-list"></i> FORM THÔNG TIN SINH VIÊN
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="hoTen">Họ và tên sinh viên</label>
                        <div class="input-group">
                            <input type="text" id="hoTen" class="form-control" ng-model="student.fullname" />
                            <span class="input-group-text text-danger"><i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ngaySinh">Ngày sinh</label>
                        <div class="input-group">
                            <input type="text" id="ngaySinh" class="form-control" ng-model="student.birthday" />
                            <span class="input-group-text text-danger"><i class="fas fa-birthday-cake"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="diem">Điểm</label>
                        <div class="input-group">
                            <input type="number" id="diem" class="form-control" ng-model="student.score" />
                            <span class="input-group-text text-danger"><i class="fas fa-pencil-ruler"></i></span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-success ml-5 mr-3" ng-show="index == -1" ng-click="them()">
                            <i class="fas fa-save"></i> Thêm
                        </button>
                        <button class="btn btn-warning mr-3" ng-show="index != -1" ng-click="capNhat()">
                            <i class="fas fa-edit"></i> Cập nhật
                        </button>
                        <button class="btn btn-danger mr-3" ng-show="index != -1" ng-click="xoa()">
                            <i class="fas fa-calendar-times"></i> Xóa
                        </button>
                        <button class="btn btn-secondary mr-3" ng-click="huy()">
                            <i class="fas fa-redo"></i> Hủy
                        </button>
                        <button class="btn btn-info" ng-click="lamMoi()">
                            <i class="fas fa-recycle"></i> Làm mới
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <small class="float-right"><i>Chú ý: nhập điểm là số từ 0-10, ngày dd/MM/yyyy</i></small>
            </div>
        </div>

        <table class="mt-5 table table-bordered table-hover">
            <thead>
                <tr class="text-center text-light font-weight-bold bg-secondary">
                    <th scope="col">Họ tên</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Điểm</th>
                    <th scope="col">Học Lực</th>
                    <th scope="col">Chỉnh sửa</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="st in lstStudents">
                    <th scope="row">{{st.fullname}}</th>
                    <td>{{st.birthday}}</td>
                    <td class="text-danger text-center font-weight-bold">
                        {{st.score}}
                    </td>
                    <td class="text-center font-weight-bold">
                        <span class="text-danger" ng-if="st.score <= 3">Yếu / Kém</span>
                        <span class="text-success" ng-if="st.score >= 5 && st.score < 8">Trung bình / Khá</span>
                        <span class="text-warning" ng-if="st.score >= 8">Giỏi / Xuất sắc</span>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary" href="#" ng-click="edit($index)">Sửa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope) {
            $scope.student = {};

            $scope.lstStudents = [
                {
                    fullname: "Trần Trung Nghĩa",
                    birthday: "13-04-1997",
                    score: 10,
                },
                {
                    fullname: "Nghĩa Trần",
                    birthday: "13-04-1997",
                    score: 6,
                },
                {
                    fullname: "Trần Nghĩa",
                    birthday: "13-04-1997",
                    score: 2,
                },
            ];

            $scope.index = -1;

            $scope.lamMoi = function () {
                $scope.student = {};
                $scope.index = -1;
            };

            $scope.them = function () {
                if (
                    $scope.student.fullname != null &&
                    $scope.student.score != null &&
                    $scope.student.birthday != null
                ) {
                    $scope.lstStudents.push(angular.copy($scope.student));
                    $scope.lamMoi();
                }
            };

            $scope.capNhat = function () {
                if ($scope.index != -1) {
                    $scope.lstStudents[$scope.index] = angular.copy($scope.student);
                }
            };

            $scope.xoa = function () {
                if ($scope.index != -1) {
                    $scope.lstStudents.splice($scope.index, 1);
                    $scope.lamMoi();
                }
            };

            $scope.huy = function () {
                if ($scope.index != -1) {
                    $scope.student = angular.copy($scope.lstStudents[$scope.index]);
                } else {
                    $scope.lamMoi();
                }
            };

            $scope.edit = function (index) {
                // tạo biến index và đặt trong scope cha
                $scope.index = index;
                $scope.student = angular.copy($scope.lstStudents[index]);
            };
        });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>