<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bài 5</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/all.min.css">
</head>

<body ng-app="myApp">

    <div class="container" ng-controller="myCtrl">
        <div class="card text-center">
            <div class="card-header font-weight-bold bg-success text-light">
                DANH SÁCH HÀNG HÓA
            </div>
            <div class="card-body p-0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><a href="#" ng-click="sortBy('name');">SẢN PHẨM</a></th>
                            <th><a href="#" ng-click="sortBy('price');">ĐƠN GIÁ</a></th>
                            <th><a href="#" ng-click="sortBy('discount');">GIẢM GIÁ</a></th>
                            <th><a href="#" ng-click="sortBy('date');">NGÀY</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sanPham in lstSanPham | orderBy: condition | limitTo : 8 : begin">
                            <td scope="row" class="w-50">{{sanPham.name | uppercase}}</td>
                            <td>{{sanPham.price | currency}}</td>
                            <td>{{sanPham.discount | percentage : 2}}</td>
                            <td>{{sanPham.date | date: "MMMM-dd, yyyy"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" ng-click="first();"><i class="fas fa-hand-point-up"></i></button>
                <button type="button" class="btn btn-primary" ng-click="prev();"><i class="fas fa-hand-point-left"></i></button>
                <button type="button" class="btn btn-primary" ng-click="next();"><i class="fas fa-hand-point-right"></i></button>
                <button type="button" class="btn btn-primary" ng-click="last();"><i class="fas fa-hand-point-down"></i></button>
            </div>
        </div>
    </div>

    <!-- <script src="js/Prods.js"></script> -->
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope, $http) {
            // $scope.lstSanPham = list;
            $scope.lstSanPham = [];
            $http.get("./js/Prods2.json").then(function (response) {
                $scope.lstSanPham = response.data;
            });
            $scope.begin = 0;

            $scope.sortBy = function(condition){
                $scope.condition = condition;
            }

            $scope.pageCount = Math.ceil($scope.lstSanPham.length / 8);
            $scope.first = function(){
                $scope.begin = 0;
            }

            $scope.prev = function(){
                if($scope.begin > 0){
                    $scope.begin -= 8;
                }
            }

            $scope.next = function(){
                if($scope.begin < ($scope.pageCount - 1) * 8){
                    $scope.begin += 8;
                }
            }

            $scope.last = function(){
                $scope.begin = ($scope.pageCount - 1) * 8;
            }

        });

        app.filter("percentage", function($filter){
            return function(input, decimals){
                return $filter('number')(input * 100, decimals) + '%';
            }
        });
    </script>

    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>